*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f4f4;
}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 30px;

background:#6a1b9a;

color:white;

}

.logo{

font-size:28px;
font-weight:bold;

}

nav{

display:flex;
gap:20px;

}

nav a{

text-decoration:none;

color:white;

font-size:18px;

}

nav a:hover{

color:yellow;

}

.menu-icon{

display:none;

font-size:30px;

cursor:pointer;

}

.hero{

text-align:center;

padding:80px;

}

.hero h1{

color:#6a1b9a;

margin-bottom:15px;

}

@media(max-width:768px){

.menu-icon{

display:block;

}

nav{

display:none;

flex-direction:column;

background:#6a1b9a;

position:absolute;

top:65px;

right:20px;

padding:15px;

}

nav.show{

display:flex;

}

}
